{% extends './base.html' %}
{% load static %}


{% block Main %}
    <section class="container-fluid login-bg align-content-center">
        <div class="row align-items-center" style="height: 100%">
            <div class="align-self-center col-lg-9">
            <div class="d-flex justify-content-center">
                {% if not user.is_authenticated %}
                <div class="card" aria-hidden="true" style="width: 35rem; height: 17rem;">
                    <div class="card-header bg-transparent">
                        <div clas="d-flex">
                        <h5 class="card-title placeholder-glow d-inline">Para: <span class="placeholder col-2"></span></h5>
                        
                        </div>
                    </div>
                    <div class="card-body placeholder-glow">
                      <h6 class="card-subtitle mb-2 text-muted placeholder col-2"></h6><br>
                      <small class="text-muted">Mensaje:</small>
                      <p class="card-text">
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-5"></span>
                    </p>
                    </div>
                    <div class="card-footer">
                        <h6 class="card-">De: <span class="placeholder col-3"></span></h6>
                        <small class="text-muted">Enviado hace: <span class="placeholder col-1"></span></small>
                    <div>
                      <a href="#" class="card-link"><i class="fa fa-share-nodes"></i></a>
                      <a href="#" class="card-link"><i class="fa fa-envelope"></i></a>
                      <a href="#" class="card-link"><i class="fa fa-star"></i></a>
                    </div>
                    </div>
                </div>
                {% else %}
                
                <div class="card" aria-hidden="true" style="width: 35rem; min-height: 17rem;">
                    <div class="row justify-content-center align-content-center loading">
                        <div class="spinner-border text-success " role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div class="card-header bg-transparent">
                        <div clas="d-flex">
                        <h5 class="card-title d-inline">Para: <span id="cardTo"></span>
                            <span id="cardIcons">
                                
                                 
                            </span>
                        </h5>
                        </div>
                    </div>
                    <div class="card-body ">
                      <h6 class="card-subtitle mb-2 text-muted" id="cardTitulo"></h6>
                      <small class="text-muted">Mensaje:</small>
                      <p class="card-text" id="cardMensaje"></p>
                    </div>
                    <div class="card-footer">
                        <h6 class="card-">De: <span id="cardDe"></span></h6>
                        <small class="text-muted">Enviado hace: <span id="cardTiempo"></span></small>
                    <div>
                      <a href="#" class="card-link"><i class="fa fa-share-nodes"></i></a>
                      <a href="#" class="card-link"><i class="fa fa-envelope"></i></a>
                      <a href="#" class="card-link"><i class="fa fa-star"></i></a>
                    </div>
                    </div>
                </div>
                {% endif %}
            </div>
            </div>
            <div class="col-lg-2">
            {% if not user.is_authenticated %}
            <form method="POST" action="ingresar">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">iniciar sesion</h1>
        
            <div class="form-floating">
                <input type="text" class="form-control form-sm" name="username" id="username" placeholder="Usuario">
                <label for="username">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="pswd" placeholder="Password">
                <label for="pswd">Password</label>
            </div>
        
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            {% if mensaje %}
            <span class="text-danger">* {{mensaje}}</span>
            {% endif %}
            <button class="w-100 btn btn-sm btn-primary" type="submit">Iniciar Sesion</button>
            <a class="w-100 btn btn-sm btn-outline-primary" href="{% url 'register' %}" type="none">Registrarse</a>
            <!-- <a href="{% url 'lostpswd' %}" class="float-end"> ¿Olvidaste tu contraseña? </a> -->
            </form>
            {% else %}
            <div class="">
                <h2 class="text text-center">Bienvenido {{ user.username }}</h2>
                <a href="{% url 'dashboard' %}"><button class="w-100 btn btn-sm btn-success">Ingresar</button></a>
                <a href="{% url 'logout' %}"><button class="w-100 btn btn-sm btn-danger">Cerrar Sesion</button></a>
            </div>
            {% endif %} 
            </div>
        </div>

      </section>
    <script type="text/javascript">
        cardTo = document.querySelector('#cardTo')
        cardTitulo = document.querySelector('#cardTitulo')
        cardMensaje = document.querySelector('#cardMensaje')
        cardDe = document.querySelector('#cardDe')
        cardTiempo = document.querySelector('#cardTiempo')
        cardIcons = document.querySelector('#cardIcons')
        loading = document.querySelector('.loading')

        setInterval(()=>{
            loading.classList.remove('d-none');
            fetch('/getCard').then(res => {
                return res.json()
            }).then(data => {   
                console.log(data)
                this.cardTo.innerHTML = data.id_to;
                this.cardTitulo.innerHTML = data.titulo;
                this.cardMensaje.innerHTML = data.text;
                this.cardDe.innerHTML = data.id_prop;
                this.cardTiempo.innerHTML = data.creacion;
                if(data.estado == '2' ){
                    this.cardIcons.innerHTML = '<a data-bs-toggle="tooltip" title="Categoria: ' + data.categoria + '"><i class="fa fa-solid ' + data.icon + '"></i></a> <a data-bs-toggle="tooltip" title="Privado" class="text-danger"><i class="fa fa-eye-slash"></i></a>'
                }
                if(data.estado == '1'){
                    this.cardIcons.innerHTML = '<a data-bs-toggle="tooltip" title="Categoria: ' + data.categoria + '"><i class="fa fa-solid ' + data.icon + '"></i></a> <a data-bs-toggle="tooltip" title="Visto" class="text-success"><i class="fa fa-check"></i></a>'
                }
                if(data.estado == '0'){
                    this.cardIcons.innerHTML = '<a data-bs-toggle="tooltip" title="Categoria: ' + data.categoria + '"><i class="fa fa-solid ' + data.icon + '"></i></a>'
                }
                loading.classList.add('d-none')
            });
            
            
        },8000)
        
    </script>
   {% endblock %}